.header{
    text-align: center;
}
.title{
  text-align: center;
  color:#ea907a;
  font-family: 'Segoe UI';
}


.titleTag *
{
    font-size: 12px;
    font-weight: 300;
    color:#fbd46d;
    font-family:Helvetica;
}

html{
    background-color: cornflowerblue;
}
    



