/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */


/*autoprefixer used*/

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html,
body {
  /*this will give a vertical scrollbar by default, so there isn't a little jump when you start entering search terms*/
  height: calc(100% + 1px)
}

body {
  font: 100% 'Arimo', sans-serif;
  background-color:#21243d;
}

input{
  color: aliceblue;
}


.mat-autocomplete-panel
{
  background-color:#f7f7ee;

}
.mat-form-field
{
  color: #f7f7ee;
  width: 300px;
}

/*for removing padding */
.mat-form-field-infix{
  display: block;
  position: relative;
  flex: auto;
  padding: 0;
  border-top: 1px solid transparent !important;
}


.mat-form-field-appearance-outline .mat-form-field-outline{
  color: #ffffff;
  width: inherit;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline{
  color: white;
  width: inherit;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-label {   color:#ff9c71; }

.srchContainer
{
  padding-top: 30px;
  padding-left: 500px;
}


.mat-option{
  background-color:#21243d;
  text-overflow: clip;
  color: #f7f7ee;
}


.mat-option-text{
  background-color:#21243d;
  text-overflow: clip;
  color: #f7f7ee;
  overflow: hidden;

}