
  <div class="srchContainer">
    <form class="example-form" class="srchForm">
      <mat-form-field  appearance="outline" id="srchField">
      <mat-label>Movie Name</mat-label>  
      <input matInput placeHolder="Enter Movie Name" [formControl]="queryField" [matAutocomplete]="auto" focus panelClass="testClass" id="queryField">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let movie of movies" [value]="movie.name" class="srchRes" (click)="getMovieInfo(movie.ImdbID)" >
            {{movie.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    
    </div>